
$font-body: sans-serif;

$color-primary: rgb(47, 68, 124);
$color-secondary: #70c3f3;
$background-color-primary: #fffbe8;
$background-color-footer: #faf3cc;
$document-width: 350px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-body;
}

.bold{
    font-weight: bold;
}
.light-text{
    font-weight: 100;
}


