@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.bold {
  font-weight: bold;
}

.light-text {
  font-weight: 100;
}

.body {
  width: 350px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: #fdfcf4;
  width: 350px;
  height: 50px;
  margin: 0 auto;
}
.header__logo {
  width: 50px;
  text-align: left;
}
.header__h1 {
  color: #2f447c;
  font-family: "Staatliches", "Courier New", Courier, monospace;
  font-size: 2.5em;
}
.header__login-button {
  margin-left: 8ch;
  border: 2px solid #2f447c;
  border-radius: 3px;
  padding: 1ch 3ch;
  background-color: #fdfcf4;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  color: #2f447c;
  background-color: #fdfcf4;
  margin: 0 auto;
}

.footer {
  text-align: center;
  background-color: #faf6df;
  width: 350px;
  margin: 0 auto;
  padding: 1ch;
}
.footer__h2 {
  margin: 1ch;
  color: #2f447c;
}

.parenting {
  padding: 2ch;
  text-align: center;
}
.parenting__h2 {
  color: #70c3f3;
}
.parenting__image {
  display: block;
  margin: 2ch auto;
  width: 200px;
}
.parenting__h3 {
  margin: 1ch;
  color: #70c3f3;
}

.find {
  padding: 2ch;
  text-align: center;
}
.find__artical {
  display: flex;
  flex-direction: columns;
  text-align: left;
  align-items: center;
}

.section-button {
  color: white;
  border-radius: 3px;
  padding: 1ch 4ch;
  background-color: #2f447c;
  margin-top: 2ch;
}